<!DOCTYPE html>
<html>

<head>

	<script>
		function substitutePdfVariables() {

			function getParameterByName(name) {
				var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
				return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
			}

			function substitute(name) {
				var value = getParameterByName(name);
				var elements = document.getElementsByClassName(name);

				for (var i = 0; elements && i < elements.length; i++) {
					elements[i].textContent = value;
				}
			}

			['frompage', 'topage', 'page', 'webpage', 'section', 'subsection', 'subsubsection']
			.forEach(function (param) {
				substitute(param);
			});
		}
	</script>


	<style>
		body {
			font-family: Arial, sans-serif;
			font-size: 12px;
			margin: 0 2rem;
			color: #212529;
		}

		.vertical-top {
			vertical-align: top;
		}

		.text-right {
			text-align: right;
		}

		.text-center {
			text-align: center;
		}

		.info-label {
			font-weight: bold;
			white-space: nowrap;
			margin-bottom: 5px;
		}

		.text-grey {
			color: #949494;
		}
	</style>
</head>

<body onload="substitutePdfVariables()">
	<div style="margin: 0.5rem 0 0 0; text-align: center;">Page <span class="page"></span> of <span class="topage"></span>
	</div>
	<div>&nbsp;</div>
	<!-- <div style="background-color: #195093; width: 100%;">&nbsp;</div> -->
</body>


</html>