# .env
APP_HOST=http://localhost:4001 ## http://192.168.1.2:4001

# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=s_erp_api
POSTGRES_DB_TEST=tests_s_erp_api
POSTGRES_PORT=5432
POSTGRES_HOST=postgres # or localhost

# Service Ports
GATEWAY_PORT=4050
SERVICE_GRPC_PORT=50051
SERVICE_REST_PORT=4001

# REDIS Configuration
REDIS_HOST=redis # or localhost
REDIS_PORT=6379
REDIS_PASSWORD=secret
REDIS_DB=0

# PostgreSQL Configuration for Test
POSTGRES_USER_TEST=postgres
POSTGRES_PASSWORD_TEST=secret
POSTGRES_DB_TEST=tests_s_erp_api
POSTGRES_PORT_TEST=5433
POSTGRES_HOST_TEST=postgres-s-erp-api-test # or postgres

# REDIS Configuration for Test
REDIS_HOST_TEST=redis-s-erp-api-test # or localhost
REDIS_PORT_TEST=6380
REDIS_PASSWORD_TEST=secret
REDIS_DB_TEST=1

# JWT Configuration
JWT_SECRET=nibrossecret
JWT_EXPIRES_MINUTE_AT=10800
DEFAULT_BRANCH_ID=1

RABBITMQ_USER=yubi
RABBITMQ_PASSWORD=yubi9911
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/

schedule_credentials=admin
schedule_password=admin

# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_EMAIL_USER=test@gmail.com
# SMTP_EMAIL_PASSWORD=secret

SMTP_HOST=mail.yubiteck.com
SMTP_PORT=465
SMTP_EMAIL_USER=developer@yubiteck.com
SMTP_EMAIL_PASSWORD=secret
